@page
@model BookingCinema.Pages.Admin.Users.CreateModel
@{
}
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Create User</h1>


<div class="card p-3">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserModel!.Username" class="control-label"></label>
            <input asp-for="UserModel!.Username" class="form-control" />
            <span asp-validation-for="UserModel!.Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserModel!.Password" class="control-label"></label>
            <input asp-for="UserModel!.Password" class="form-control" />
            <span asp-validation-for="UserModel!.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserModel!.Email" class="control-label"></label>
            <input asp-for="UserModel!.Email" class="form-control" />
            <span asp-validation-for="UserModel!.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserModel!.FullName" class="control-label"></label>
            <input asp-for="UserModel!.FullName" class="form-control" />
            <span asp-validation-for="UserModel!.FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserModel!.Role" class="control-label"></label>
            <input asp-for="UserModel!.Role" class="form-control" />
            <span asp-validation-for="UserModel!.Role" class="text-danger"></span>
        </div>
        <div class="form-group">
            <a class="btn btn-danger" asp-page="/Admin/Users/Index">Back to List</a>

            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}