@page
@model BookingCinema.Pages.ResetPasswordModel

<!DOCTYPE html>
<html>
<head>
    <title>Reset Password Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
</head>
<body>
 
    <div id="notification-container">
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-success" role="alert">
                @Html.Raw(@Model.Message)
            </div>
        }
    </div>
    <div class="center">
        <div class="main">
            <div class="login">
                @if (Model.ModelState.ContainsKey("LoginError"))
                {
                    <div class="alert alert-danger" role="alert">
                        @Html.Raw(Model.ModelState["LoginError"].Errors[0].ErrorMessage)
                    </div>
                }
              <div class="px-5">
                    <form method="post">
                        <label aria-hidden="true">Reset Password</label>
                        <div class="form-group">
                            <input asp-for="Email" placeholder="Please enter your email to reset password" class="form-control input2" />
                            <span asp-validation-for="Email" class="text-dark"></span>
                        </div>
                        <button class="button2" type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
