
.center {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #d64646, #d64646);
}

.main {
    width: 350px;
    height: 500px;
    background-image: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin-top: 80px;
}




label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.form-control {
    font-size: 1em;
}

.input2 {
    width: 75%;
    height: 40px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.button2 {
    justify-content: center;
    display: block;
    margin: 10px auto;
    padding: 13px 40px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(244, 12, 47);
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

    .button2:hover {
        box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
    }

    .button2:active {
        background-color: rgb(255, 56, 86);
        /*50, 168, 80*/
        box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
        transform: translateY(5px);
        transition: 200ms;
    }
