@page
@model BookingCinema.Pages.Admin.Home.IndexModel
@{
    ViewData["Title"] = "index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<body>
    <h2 class="text-center">
        Welcome to admin page
    </h2>
</body>

